<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informações da Conta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1>NoNameCoin</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create_account">Criar Conta</a></li>
                <li><a href="/create_trans">Criar Transação</a></li>
                <li><a href="/register_validator">Registrar Validador</a></li>
                <li><a href="/view_transactions">Ver Transações</a></li>
                <li><a href="/view_validators">Ver Validadores</a></li>
                <li><a href="/account_info">Informações da Conta</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <h2>Informações da Conta</h2>
    <form method="POST" action="/account_info">
        <label for="user_id">ID da Conta:</label>
        <input type="text" id="user_id" name="user_id" required>
        <button type="submit">Consultar</button>
    </form>

    {% if balance is not none %}
    <div>
        <h3>Conta: {{ user_id }}</h3>
        <p>Saldo Atual: {{ balance }}</p>
        <p>Transações Feitas: {{ transaction_count }}</p>
    </div>
    {% elif error %}
    <div>
        <p>{{ error }}</p>
    </div>
    {% endif %}
</div>
</body>
</html>
